<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:改mapper.xml映射文件的唯一标识并且必须和数据处理层的接口的路径相同-->
<mapper namespace="works.weave.socks.antiCheating.dao.AntiCheatingRecordDao">
    <!--   必须添加property属性 ，区别于是否加主键-->
    <resultMap id="AntiCheatingRecord" type="works.weave.socks.antiCheating.entities.AntiCheatingRecord">
        <id column="id" property="id" javaType="Long" ></id>
        <result column="type" property="type" javaType="int" ></result>
        <result column="original_id" property="originalId" javaType="String" ></result>
        <result column="value" property="value" javaType="float" ></result>
        <result column="expire_time" property="expireTime" javaType="Date"></result>
        <result column="reason" property="reason" javaType="String"></result>
        <result column="user_id" property="userId" javaType="String"></result>
        <result column="deleted" property="deleted" javaType="int"></result>
        <result column="create_time" property="createTime" javaType="Date"></result>
        <result column="update_time" property="updateTime" javaType="Date"></result>
    </resultMap>
    <!--id的值必须和数据处理层的接口名一致-->
    <insert id="save" parameterType="works.weave.socks.antiCheating.entities.AntiCheatingRecord" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into anti_cheating_record(type,original_id,reason,user_id,create_time,update_time)
        value (#{type},#{originalId},#{reason},#{userId},now(),now())
    </insert>

</mapper>